@import "tailwindcss";

@font-face {
  font-family: "QualionRound";
  src: url("fonts/qualion-round-regular.woff2") format("woff2"),
    url("fonts/qualion-round-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "QualionRound";
  src: url("fonts/qualion-round-bold.woff2") format("woff2"),
    url("fonts/qualion-round-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/jet-brains-mono.woff2") format("woff2");
}

@font-face {
  font-family: "Gen Jyuu Gothic Monospace";
  src: url("fonts/gen-jyuu-gothic-monospace-regular.woff2") format("woff2");
}

@theme {
  --color-*: initial;
  --color-base: #101010;
  --color-primary: #2f76e6;
  --color-black: #202020;
  --color-gray: #909090;
  --color-white: #f1f1f1;
  --font-*: initial;
  --font-qualion-round: "QualionRound", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-default: "JetBrains Mono", "Gen Jyuu Gothic Monospace", monospace,
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
